@import "../assets/styles/mixins";
@import "../assets/styles/reset";

.header {
  display: block;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: rem(13) 0;

  .header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__logo {
      display: block;
      width: rem(104);
      height: rem(26);
      margin-right: rem(10);
    }

    .header__navigation {
      display: flex;
      gap: rem(10);

      .header__navigation-button {
      }
    }
  }
}

/* ------------------------------------------------------------------------------------------------------------------ */

.test-assignment {
  min-height: 100vh;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000000;
    opacity: 50%;
  }

  .test-assignment__container {
    .test-assignment__body {
      padding: rem(20) 0;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      color: #ffffff;

      .test-assignment__title {
        z-index: 3;
        max-width: rem(380);
        margin-bottom: rem(21);
      }

      .test-assignment__text {
        z-index: 3;
        max-width: rem(380);
        margin-bottom: rem(32);
      }

      .test-assignment__button {
        z-index: 3;
        margin: 0 auto;
        color: #000;
      }
    }
  }
}

/* ------------------------------------------------------------------------------------------------------------------ */
.get {
  padding: rem(140) 0;

  &__container {
    .get__body {
      .get__title {
        color: #000;
      }

      .get__content {
        width: 100%;
        padding: rem(50) 0;
        display: grid;
        grid-template-columns: repeat(3, calc(33.333% - (40px / 3)));
        gap: rem(20);
        @media (max-width: em(768)) {
          grid-template-columns: repeat(2, calc(50% - (20px / 3)));
        }
        @media (max-width: em(425)) {
          grid-template-columns: repeat(1, 100%);
        }

        .get__user {
          background-color: #fff;
          padding: rem(20);
          display: flex;
          flex-direction: column;
          align-items: center;

          &-image {
            margin-bottom: rem(20);
            height: rem(70);
            width: rem(70);

            img {
              @include border-radius(50%);
            }
          }

          &-name {
            margin-bottom: rem(20);
          }

          &-name, &-position, &-email, &-phone {
            display: block;
            width: 100%;
            white-space: nowrap;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &-position {
          }

          &-email {
          }

          &-phone {
          }
        }
      }

      .get__button {
        max-width: rem(120);
        margin: 0 auto;
      }
    }
  }
}

/* ------------------------------------------------------------------------------------------------------------------ */
.post {
  padding-bottom: rem(100);
  &__container {
    // стилі для контейнера поста
  }

  &__body {
    // стилі для тіла поста
  }

  &__title {
    color: #000;
    margin-bottom: rem(50);
  }
}

.form {
  max-width: rem(380);
  margin: 0 auto;

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: rem(50);
  }

  &__input {
    @include transition(box-shadow, 0.3s, ease, 0s);
    border: 1px solid #D0CFCF;
    padding: rem(14) rem(16);
    background-color: #F8F8F8;
    @include border-radius(rem(4));
    font-size: rem(16);

    &:focus {
      box-shadow: 2px 2px 5px 0px rgba(167, 167, 174, 1);
    }

    &::placeholder {
      color: #7E7E7E;
    }

    &:last-child {
      margin-bottom: rem(43);
    }
  }

  &__options {
    display: flex;
    flex-direction: column;

    &-title {
      margin-bottom: rem(11);
    }

    &-item {
      max-height: rem(26);
      margin-bottom: rem(7);

      &:last-child {
        margin-bottom: rem(47);
      }
    }

    &-option {
      display: none;

      &:checked + .form__options-label:after {
        @include scale(1);
      }

      &:checked + .form__options-label:before {
        border: 1px solid #00BDD3;
      }

    }

    &-label {
      cursor: pointer;
      display: inline-flex;
      font-size: rem(16);
      align-items: center;
      position: relative;
      white-space: nowrap;

      &:before {
        @include transition(transform, 0.3s, ease, 0s);
        content: "";
        flex: 0 0 rem(20);
        height: rem(20);
        background-color: #F8F8F8;
        border: 1px solid #D0CFCF;
        @include border-radius(50%);
        margin-right: rem(12);
      }

      &:after {
        @include transition(transform, 0.3s, ease, 0s);
        content: "";
        position: absolute;
        top: 8px;
        left: 5px;
        width: rem(10);
        height: rem(10);
        background-color: #00BDD3;
        @include border-radius(50%);
        @include scale(0);
      }
    }
  }

  .file {
    margin-bottom: rem(50);
    @include transition(box-shadow, 0.3s, ease, 0s);
    border-radius: rem(4);
    &:hover {
      box-shadow: 2px 2px 5px 0 rgba(167, 167, 174, 1);
    }
    @media (hover:hover) {
      &:hover {
        box-shadow: 2px 2px 5px 0 rgba(167, 167, 174, 1);
      }
    }

    @media (hover:none) {
      &:active {
        box-shadow: 2px 2px 5px 0 rgba(167, 167, 174, 1);
      }
    }

    &__item {
      position: relative;
    }

    &__input {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      font-size: 0;
    }

    &__fake-button {
      display: flex;

      .upload {
        font-size: rem(16);
        padding: rem(14) rem(15);
        flex: 0 1 21.8%;
        color: #000000;
        border: 1px solid #000000;
        border-radius: rem(4) rem(0) rem(0) rem(4);
      }
      .upload.upload-your-photo {
        flex: 0 1 78.2%;
        color: #7E7E7E;
        border: 1px solid #D0CFCF;
        border-left: 0;
        border-radius: rem(0) rem(4) rem(4) rem(0);
      }
    }

  }

  &__button {
    margin: 0 auto;
    color: #ffffff;
    background-color: #B4B4B4;
    width: rem(100);
    &:hover {
      background-color: #B4B4B4;
    }
    &:active {
      background-color: #B4B4B4;
    }
  }
}
