@import "../assets/styles/mixins";
@import "../assets/styles/reset";

.header {
  display: block;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: rem(13) 0;

  .header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__logo {
      display: block;
      width: rem(104);
      height: rem(26);
      margin-right: rem(10);
    }

    .header__navigation {
      display: flex;
      gap: rem(10);

      .header__navigation-button {
      }
    }
  }
}

/* ------------------------------------------------------------------------------------------------------------------ */

.test-assignment {
  min-height: 100vh;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000000;
    opacity: 50%;
  }

  .test-assignment__container {
    .test-assignment__body {
      padding: rem(20) 0;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      color: #ffffff;

      .test-assignment__title {
        z-index: 3;
        max-width: rem(380);
        margin-bottom: rem(21);
      }

      .test-assignment__text {
        z-index: 3;
        max-width: rem(380);
        margin-bottom: rem(32);
      }

      .test-assignment__button {
        z-index: 3;
        margin: 0 auto;
        color: #000;
      }
    }
  }
}

/* ------------------------------------------------------------------------------------------------------------------ */
.get {
  padding: rem(140) 0;

  &__container {
    .get__body {
      .get__title {
        color: #000;
      }

      .get__content {
        width: 100%;
        padding: rem(50) 0;
        display: grid;
        grid-template-columns: repeat(3, calc(33.333% - (40px / 3)));
        gap: rem(20);
        @media (max-width: em(768)) {
          grid-template-columns: repeat(2, calc(50% - (20px / 3)));
        }
        @media (max-width: em(425)) {
          grid-template-columns: repeat(1, 100%);
        }

        .get__user {
          background-color: #fff;
          padding: rem(20);
          display: flex;
          flex-direction: column;
          align-items: center;

          &-image {
            margin-bottom: rem(20);
            height: rem(70);
            width: rem(70);
            img {
              @include border-radius(50%);
            }
          }

          &-name {
            margin-bottom: rem(20);
          }

          &-name, &-position, &-email, &-phone {
            display: block;
            width: 100%;
            white-space: nowrap;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &-position {
          }

          &-email {
          }

          &-phone {
          }
        }
      }

      .get__button {
        max-width: rem(120);
        margin: 0 auto;
      }
    }
  }
}
