@import "../assets/styles/mixins";
@import "../assets/styles/reset";

.header {
  display: block;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: rem(13) 0;

  .header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__logo {
      display: block;
      width: rem(104);
      height: rem(26);
      margin-right: rem(10);
    }

    .header__navigation {
      display: flex;
      gap: rem(10);

      .header__navigation-button {
      }
    }
  }
}

/* ------------------------------------------------------------------------------------------------------------------ */

.test-assignment {
  min-height: 100vh;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000000;
    opacity: 50%;
  }

  .test-assignment__container {
    .test-assignment__body {
      padding: rem(20) 0;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      color: #ffffff;

      .test-assignment__title {
        z-index: 3;
        max-width: rem(380);
        margin-bottom: rem(21);
      }

      .test-assignment__text {
        z-index: 3;
        max-width: rem(380);
        margin-bottom: rem(32);
      }

      .test-assignment__button {
        z-index: 3;
        margin: 0 auto;
        color: #000;
      }
    }
  }
}

/* ------------------------------------------------------------------------------------------------------------------ */
.get {
  padding: rem(140) 0;
  overflow: hidden;
  @media (max-width: em(768)) {
    padding: rem(100) 0;
  }

  &__container {
    .get__body {
      .get__title {
        color: #000;
      }

      .get__content {
        position: relative;
        width: 100%;
        padding: rem(50) 0;
        display: grid;
        grid-template-columns: repeat(3, calc(33.333% - (40px / 3)));
        gap: rem(20);
        @media (max-width: em(768)) {
          grid-template-columns: repeat(2, calc(50% - (20px / 3)));
        }
        @media (max-width: em(425)) {
          grid-template-columns: repeat(1, 100%);
        }
        
        &._loading {
          &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 48px;
            height: 48px;
            margin-top: -20px;
            margin-left: -20px;
            border: 5px solid transparent;
            border-top-color: #00BDD3;
            border-right-color: #00BDD3;
            border-left-color: #00BDD3;
            border-radius: 50%;
            animation: spin 1s linear infinite;
            visibility: visible;
            opacity: 1;
            display: block;
            z-index: 8;
          }
        }

        .get__user {
          background-color: #fff;
          padding: rem(20);
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;

          &-image {
            margin-bottom: rem(20);
            height: rem(70);
            width: rem(70);

            img {
              @include border-radius(50%);
            }
          }

          &-name {
            margin-bottom: rem(20);
          }

          &-span {
            cursor: pointer;

            &:hover {
              .get__user-popap {
                visibility: visible;
                opacity: 1;
              }
            }
          }

          &-popap {
            @include transition(all, 0.27s, ease, 0.8s);
            color: #ffffff;
            background-color: rgba(0, 0, 0, 0.87);
            line-height: 100%;
            @include border-radius(rem(4));
            position: absolute;
            top: rem(136);
            left: 50%;
            font-size: rem(16);
            padding: rem(3) rem(16);
            visibility: hidden;
            opacity: 0;
            z-index: 3;
            @media (max-width: em(768)) {
              display: none;
            }
          }

          &-name, &-position, &-email, &-phone {
            width: 100%;
            white-space: nowrap;
            text-align: center;
            text-overflow: ellipsis;
            overflow-x: clip;
            overflow-y: visible;
            display: block;
            height: rem(26);
          }

          &-email {
            .get__user-popap {
              top: rem(209);
            }
          }

        }
      }

      .get__button {
        max-width: rem(120);
        margin: 0 auto;
      }
    }
  }
}

/* ------------------------------------------------------------------------------------------------------------------ */
.post {

  &__container {
  }

  &__body {
    padding-bottom: rem(100);
    &._sended {
      padding-bottom: 0;
      .form {
        display: none;
      }
      .post__title {
        display: none;
      }
      .post__title-registered {
        display: block;
      }
      .registered {
        display: block;
      }

    }

    .registered {
      display: none;

      &__img {
        margin: 0 auto;
        width: rem(328);
        height: rem(290);
        margin-bottom: rem(100);
        @media (max-width: em(425)) {
          width: 100%;
          height: rem(250);
        }
      }
      &__footer {
        padding: rem(17) 0;
        border-top: 1px solid #D0CFCF;
        font-size: rem(16);
        color: #000;
      }
    }
  }

  .post__title-registered {
    display: none;
  }

  &__title, .post__title-registered {
    color: #000;
    margin-bottom: rem(50);
  }
  .registered {
    display: none;
  }
}

.form {
  max-width: rem(380);
  margin: 0 auto;

  &._sending {
    position: relative;

    .form__content {
      visibility: hidden;
      opacity: 0;
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 48px;
      height: 48px;
      margin-top: -20px;
      margin-left: -20px;
      border: 5px solid transparent;
      border-top-color: #00BDD3;
      border-right-color: #00BDD3;
      border-left-color: #00BDD3;
      border-radius: 50%;
      animation: spin 1s linear infinite;
      visibility: visible;
      opacity: 1;
      display: block;
      z-index: 8;
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: rem(50);
  }

  &__item {
    display: inline-block;
    max-height: rem(54);
    position: relative;
    @include transition(all, 0.3s, ease, 0s);

    &.error {
      &:after {
        content: "Error text";
        margin-left: rem(16);
        color: #CB3D40;
        font-size: rem(14);
      }

      span {
        color: #CB3D40;
      }
    }

    &:last-child {
      margin-bottom: rem(43);
    }

    span {
      color: #7E7E7E;
      position: absolute;
      top: 50%;
      left: 16px;
      @include translate(0, -50%);
      @include transition(all, 0.3s, ease, 0s);
      cursor: text;
      line-height: 100%;

      &.error {
        top: 0;
        font-size: rem(12);
        background-color: #F8F8F8;
        padding: rem(2) rem(3) rem(2) rem(4);
        left: 12px;
        z-index: 3;
      }
    }
  }

  &__input {
    width: 100%;
    @include transition(all, 0.3s, ease, 0s);
    outline: 1px solid #D0CFCF;
    padding: rem(14) rem(16);
    @include border-radius(rem(4));
    font-size: rem(16);
    position: relative;
    background-color: transparent;
    z-index: 2;


    // Styles that remove default browser shadow on autofill
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 1000px #F8F8F8 inset !important;
    }

    &.error {
      outline: 2px solid #CB3D40;

      &:focus {
        box-shadow: none;
      }
    }

    &:focus {
      box-shadow: 2px 2px 5px 0px rgba(167, 167, 174, 1);
    }

    &:focus + span, &:valid + span, &:placeholder-shown + span {
      top: 0;
      font-size: rem(12);
      background-color: #F8F8F8;
      padding: rem(2) rem(3) rem(2) rem(4);
      left: 12px;
      z-index: 3;
    }
  }

  &__options {
    display: flex;
    flex-direction: column;

    &-title {
      margin-bottom: rem(11);
    }

    &-item {
      max-height: rem(26);
      margin-bottom: rem(7);

      &:last-child {
        margin-bottom: rem(47);
      }
    }

    &-option {
      display: none;

      &:checked + .form__options-label:after {
        @include scale(1);
      }

      &:checked + .form__options-label:before {
        border: 1px solid #00BDD3;
      }

    }

    &-label {
      cursor: pointer;
      display: inline-flex;
      font-size: rem(16);
      align-items: center;
      position: relative;
      white-space: nowrap;

      &:before {
        @include transition(transform, 0.3s, ease, 0s);
        content: "";
        flex: 0 0 rem(20);
        height: rem(20);
        background-color: #F8F8F8;
        border: 1px solid #D0CFCF;
        @include border-radius(50%);
        margin-right: rem(12);
      }

      &:after {
        @include transition(transform, 0.3s, ease, 0s);
        content: "";
        position: absolute;
        top: 8px;
        left: 5px;
        width: rem(10);
        height: rem(10);
        background-color: #00BDD3;
        @include border-radius(50%);
        @include scale(0);
      }
    }
  }

  .file {
    margin-bottom: rem(50);
    border-radius: rem(4);

    &__item {
      position: relative;
      width: 100%;
      box-shadow: none;

      @media (hover: hover) {
        &:hover {
          .file__fake-button {
            box-shadow: 2px 2px 5px 0 rgba(167, 167, 174, 1);
          }
        }
      }

      @media (hover: none) {
        &:active {
          .file__fake-button {
            box-shadow: 2px 2px 5px 0 rgba(167, 167, 174, 1);
          }
        }
      }

      &.error {
        &:after {
          content: "Error text";
          margin-left: rem(16);
          color: #CB3D40;
          font-size: rem(14);
        }

        .upload {
          border: 2px solid #CB3D40;
        }

        .upload.upload-your-photo {
          border-top: 2px solid #CB3D40;
          border-right: 2px solid #CB3D40;
          border-bottom: 2px solid #CB3D40;
          color: #000000;
        }
      }

    }

    &__input {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      font-size: 0;
    }

    &__fake-button {
      @include transition(box-shadow, 0.3s, ease, 0s);
      display: flex;

      .upload {
        font-size: rem(16);
        padding: rem(14) rem(15);
        flex: 0 1 21.8%;
        color: #000000;
        border: 1px solid #000000;
        border-radius: rem(4) rem(0) rem(0) rem(4);
      }

      .upload.upload-your-photo {
        flex: 0 1 78.2%;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        text-overflow: ellipsis;
        color: #7E7E7E;
        border: 1px solid #D0CFCF;
        border-left: 0;
        border-radius: rem(0) rem(4) rem(4) rem(0);
      }
    }

  }

  &__button {
    margin: 0 auto;
    color: #ffffff;
    background-color: #B4B4B4;
    width: rem(100);

    @media (hover: hover) {
      &:hover {
        background-color: #818181;
      }
    }

    @media (hover: none) {
      &:active {
        background-color: #818181;
      }
    }
  }
}
